* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto',sans-serif;
  background-color: #f3f3f3; }

.container {
  display: flex;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto; }

.header {
  color: #f2f2f2;
  font-weight: 500;
  font-size: .9rem;
  padding: 1.2rem 0;
  background-color: #aa8453; }
  @media screen and (max-width: 768px) {
    .header {
      background-color: #fff; } }
  .header .container {
    visibility: visible;
    justify-content: space-between; }
    .header .container .info-about {
      display: flex;
      gap: 2.5rem; }
    @media screen and (max-width: 768px) {
      .header .container {
        display: none; } }
  .header .container-small {
    display: none;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
    .header .container-small .logo {
      font-family: 'Pacifico';
      color: #000;
      font-size: 1.4rem; }
    .header .container-small .burguer-menu a img {
      width: 20px; }
    @media screen and (max-width: 768px) {
      .header .container-small {
        display: flex; } }
  .header .sociales ul {
    list-style: none;
    display: flex; }
    .header .sociales ul a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem; }
    .header .sociales ul li {
      padding-left: 1rem; }
  .header .menu-header {
    position: fixed;
    z-index: 40;
    background-color: #2c2c2c;
    width: 250px;
    height: 100vh;
    top: 0;
    transform: translateX(-100%);
    transition: transform .5s ease; }
    .header .menu-header a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: .8rem 1.2rem; }
    .header .menu-header .close-menu-header {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: right; }
  .header .menu-header-active {
    transform: translateX(0%); }
  .header .layer-menu {
    position: fixed;
    background-color: black;
    opacity: .4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    display: none; }
  .header .layer-menu-active {
    display: block; }

.our-menu-header {
  background-color: #fff;
  padding: 2.5rem 0; }
  .our-menu-header .container-our-menu-header {
    width: 90%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .our-menu-header .container-our-menu-header .logo {
      font-family: 'Pacifico';
      color: #000;
      font-size: 1.4rem; }
    @media screen and (max-width: 768px) {
      .our-menu-header .container-our-menu-header {
        display: none; } }
  .our-menu-header .menu ul {
    list-style-type: none;
    display: flex; }
    .our-menu-header .menu ul li {
      font-size: 1.2rem; }
      .our-menu-header .menu ul li a {
        padding: .8rem 1rem;
        color: gray;
        font-weight: 400;
        text-decoration: none; }
      .our-menu-header .menu ul li:last-child a {
        padding: .8rem 2.5rem;
        background-color: #2f2f2f;
        color: #fff; }
        .our-menu-header .menu ul li:last-child a:hover {
          background-color: #585858;
          color: #fff; }
  @media screen and (max-width: 768px) {
    .our-menu-header {
      display: none; } }

.banner {
  background-image: url("../images/menu-banner.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%; }
  .banner .container-reservation-banner {
    top: 25%;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
    text-align: center;
    color: #fff;
    width: 35rem; }
    .banner .container-reservation-banner h1 {
      font-size: 4.5rem; }
    .banner .container-reservation-banner .menu-banner {
      font-size: 3.5rem;
      font-weight: 400; }
    .banner .container-reservation-banner .description-menu-banner {
      margin-top: 2rem;
      color: #fff;
      line-height: 1.5;
      font-weight: 400; }
    @media screen and (max-width: 768px) {
      .banner .container-reservation-banner {
        width: 20rem;
        top: 20%; }
        .banner .container-reservation-banner h1 {
          font-size: 3.5rem; }
        .banner .container-reservation-banner p {
          font-size: 1rem;
          font-weight: 600; } }
  @media screen and (max-width: 1024px) {
    .banner {
      height: 100vh; } }
  .banner .layer-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background-color: #000; }

.our-menu {
  background-color: #fff;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }
  .our-menu .container-our-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .our-menu .container-our-menu {
        width: 90%; } }
  .our-menu .list-our-menu {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap; }
    .our-menu .list-our-menu .item-our-menu {
      flex: 0 0 calc(33.3% - 2.5rem); }
    @media screen and (max-width: 1024px) {
      .our-menu .list-our-menu .item-our-menu {
        flex: 0 0 calc(50% - 2.5rem); } }
    @media screen and (max-width: 768px) {
      .our-menu .list-our-menu .item-our-menu {
        flex: 0 0 100%; } }
  .our-menu .desc-item-our-menu {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid lightgray; }
  .our-menu .icon-item-our-menu {
    margin-bottom: 1rem; }
    .our-menu .icon-item-our-menu .container-icon-menu {
      display: inline-block;
      border-radius: 100%;
      position: relative;
      width: 50px;
      height: 50px; }
      .our-menu .icon-item-our-menu .container-icon-menu img {
        transform: translate(50%, -50%);
        position: absolute;
        top: 50%;
        right: 50%; }
      .our-menu .icon-item-our-menu .container-icon-menu.starter {
        background-color: #53a853; }
      .our-menu .icon-item-our-menu .container-icon-menu.lunch {
        background-color: #b4955d; }
      .our-menu .icon-item-our-menu .container-icon-menu.dinner {
        background-color: #ac66ac; }
      .our-menu .icon-item-our-menu .container-icon-menu.dessert {
        background-color: #c95367; }
      .our-menu .icon-item-our-menu .container-icon-menu.cocktail {
        background-color: #2f2f8d; }
      .our-menu .icon-item-our-menu .container-icon-menu.drink {
        background-color: #2eb5e2; }
  .our-menu .foods-item-our-menu {
    padding-top: 1.5rem; }
    .our-menu .foods-item-our-menu .food-item-our-menu {
      text-align: initial;
      margin-bottom: 2rem; }
      .our-menu .foods-item-our-menu .food-item-our-menu .plate {
        display: flex;
        justify-content: space-between;
        margin-bottom: .8rem; }
        .our-menu .foods-item-our-menu .food-item-our-menu .plate .name, .our-menu .foods-item-our-menu .food-item-our-menu .plate .price {
          font-weight: 600;
          font-size: 1.1rem; }
      .our-menu .foods-item-our-menu .food-item-our-menu .desc {
        color: gray;
        font-size: .9rem; }
      .our-menu .foods-item-our-menu .food-item-our-menu .new, .our-menu .foods-item-our-menu .food-item-our-menu .promotion {
        padding: .2rem .9rem;
        background-color: #D9A868;
        color: #fff;
        display: inline-block;
        font-size: .7rem;
        font-weight: 600;
        border-radius: 2px;
        margin-top: .5rem; }

.reservation {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.container-reservation {
  max-width: 1150px;
  width: 70%;
  margin: 0 auto; }
  .container-reservation .container-text-reservation {
    width: 60%;
    margin: 0 auto; }
    .container-reservation .container-text-reservation .text-reservation {
      font-family: 'Pacifico',sans-serif;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #D9A868; }
    .container-reservation .container-text-reservation .title-reservation {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2.5rem; }
    .container-reservation .container-text-reservation .text-reservation,
    .container-reservation .container-text-reservation .title-reservation,
    .container-reservation .container-text-reservation .description-reservation {
      text-align: center; }
    .container-reservation .container-text-reservation .description-reservation {
      color: gray;
      line-height: 1.5;
      margin-bottom: 2.5rem; }
    @media screen and (max-width: 768px) {
      .container-reservation .container-text-reservation {
        width: 90%; } }
  .container-reservation .form-reservation {
    background-color: #fff;
    padding: 2.5rem; }
    .container-reservation .form-reservation .row-form {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;
      flex-wrap: wrap; }
      .container-reservation .form-reservation .row-form .field {
        flex: 1 0 auto; }
        .container-reservation .form-reservation .row-form .field input[type="text"] {
          width: 100%;
          outline: none;
          padding: .8rem;
          border: 1px solid lightgray; }
      .container-reservation .form-reservation .row-form.button {
        text-align: center; }
        .container-reservation .form-reservation .row-form.button a {
          display: inline-block;
          text-decoration: none;
          background-color: #D9A868;
          color: #fff;
          padding: 1.2rem 2.4rem; }
      .container-reservation .form-reservation .row-form:last-child {
        margin: 0; }
  @media screen and (max-width: 768px) {
    .container-reservation {
      width: 95%; } }

.footer {
  background-color: #3A424E; }
  .footer .container {
    padding: 3.5rem 0;
    gap: 1.5rem;
    flex-wrap: wrap; }
    .footer .container .info-footer, .footer .container .posts-footer, .footer .container .gallery-footer, .footer .container .contact-info-footer {
      flex: 0 0 calc(25% - 1.5rem); }
      @media screen and (max-width: 1024px) {
        .footer .container .info-footer, .footer .container .posts-footer, .footer .container .gallery-footer, .footer .container .contact-info-footer {
          flex: 0 0 calc(50% - 1.5rem); } }
      @media screen and (max-width: 768px) {
        .footer .container .info-footer, .footer .container .posts-footer, .footer .container .gallery-footer, .footer .container .contact-info-footer {
          flex: 0 0 100%; } }
    .footer .container .info-footer {
      display: flex;
      flex-direction: column; }
      .footer .container .info-footer .logo-footer {
        font-family: 'Pacifico';
        color: #EFEFEF;
        font-size: 1.4rem;
        text-shadow: 6px 5px 5px rgba(0, 0, 0, 0.79);
        margin-bottom: 2rem;
        height: 2.5rem; }
      .footer .container .info-footer .description-footer {
        margin-bottom: 3.5rem; }
        .footer .container .info-footer .description-footer p {
          color: #EFEFEF;
          line-height: 1.5; }
      .footer .container .info-footer .social-media-footer .sociales ul {
        list-style: none;
        display: flex; }
        .footer .container .info-footer .social-media-footer .sociales ul a {
          text-decoration: none;
          color: gray;
          font-size: 1.2rem; }
        .footer .container .info-footer .social-media-footer .sociales ul li {
          padding-left: 1rem; }
    .footer .container .posts-footer {
      display: flex;
      flex-direction: column; }
      .footer .container .posts-footer .title-post {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        color: #EFEFEF;
        height: 2.5rem; }
      .footer .container .posts-footer .post-footer {
        padding: .8rem 0;
        border-bottom: 1px solid #585858; }
        .footer .container .posts-footer .post-footer a {
          text-decoration: none;
          color: gray; }
      .footer .container .posts-footer .first-post {
        padding-top: 0; }
    .footer .container .gallery-footer .title-gallery {
      font-size: 1.4rem;
      color: #EFEFEF;
      margin-bottom: 2rem;
      height: 2.5rem; }
    .footer .container .gallery-footer .container-gallery {
      display: flex;
      flex-wrap: wrap; }
      .footer .container .gallery-footer .container-gallery .box-gallery {
        width: 33.3%; }
        .footer .container .gallery-footer .container-gallery .box-gallery img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover; }
        @media screen and (max-width: 768px) {
          .footer .container .gallery-footer .container-gallery .box-gallery {
            width: 100%; } }
    .footer .container .contact-info-footer {
      display: flex;
      flex-direction: column; }
      .footer .container .contact-info-footer .title-contact-footer {
        font-size: 1.4rem;
        color: #EFEFEF;
        margin-bottom: 2rem;
        height: 2.5rem; }
      .footer .container .contact-info-footer .direction-footer,
      .footer .container .contact-info-footer .number-footer,
      .footer .container .contact-info-footer .email-footer,
      .footer .container .contact-info-footer .lunch,
      .footer .container .contact-info-footer .first-dinner,
      .footer .container .contact-info-footer .second-dinner {
        margin-bottom: 1rem;
        color: #EFEFEF; }
  .footer .copyright {
    border-top: 1px solid #585858;
    padding: 1.5rem 0;
    text-align: center;
    color: gray;
    font-weight: 400; }
    .footer .copyright span {
      color: #EFEFEF; }
