*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Roboto',sans-serif;
    background-color:#fff;
}
.container{
    display:flex;       
    width:90%;
    max-width:1150px;
    margin:0 auto;
}
  
//Header 
@import "header";
.our-menu-header{
    padding: 2.5rem 0;
    .container-our-menu-header{
        width: 90%;
        max-width: 1150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .logo{
            font-family: 'Pacifico';
            color:#000;
            font-size:1.4rem;
        }
        @media screen and (max-width:768px){
            display:none;
        }
    }
    .menu{
        ul{
            list-style-type: none;
            display:flex;
            li{
                font-size:1.2rem;
                a{
                    padding:.8rem 1rem;
                    color:gray;
                    font-weight:400;
                    text-decoration:none;
                }
                &:last-child{
                    a{
                        padding:.8rem 2.5rem;
                        background-color:rgb(47, 47, 47);
                        color:#fff;
                        &:hover{
                            background-color:rgb(88, 88, 88);
                            color:#fff; 
                        }
                    }
                }
            } 
        }
    }
    @media screen and (max-width:768px){
        display:none;
    }
}
//Banner 
.banner{
    background-image:url('../images/reservation-banner.jpeg');
    height:25rem;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-position: 50% 50%;
    .container-reservation-banner{
        top: 25%;
        position: absolute;
        right: 50%;
        transform: translate(50%, 0%);
        text-align:center;
        color:#fff;
        width:35rem;
        h1{
            font-size:4.5rem;
        }
        .menu-banner{
            font-size:3.5rem;
            font-weight:400;
        }
        .description-menu-banner{
            margin-top :2rem;
            color:#fff;
            line-height:1.5;
            font-weight:400;

        } 
    @media screen and (max-width:768px){
        width:20rem;
        top:20%;
        h1{
            font-size:3.5rem;
        }
        p{
            font-size:1rem;
            font-weight:600;
        }
    }
} 
@media screen and (max-width:1024px){
    height:100vh;
}
.layer-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    background-color: #000;
}
}
//Reservation
.reservation{
    margin-top:5rem;
    margin-bottom:5rem;
}
.container-reservation{
    max-width:1150px;
    width:90%;
    margin:0 auto;
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    .form-container-reservation{
        flex: 0 0 calc(55% - 1rem);
        .container-text-reservation{
            .text-reservation{
                font-family:'Pacifico',sans-serif;
                font-size:1.8rem;
                margin-bottom:1rem;
                color:#D9A868;
            }
            .title-reservation{
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: 2.5rem;
            }
            .description-reservation{
                color:gray;
                line-height:1.5;
                margin-bottom:2.5rem;
            }
            @media screen and (max-width:768px){
                width:90%;
            }
        }
        .form-reservation{
            .row-form{
                display:flex;
                gap:2rem;
                margin-bottom:2rem;
                flex-wrap:wrap;
                .field{
                    flex:1 0 calc(33.3% - 2rem);
                    input[type="text"]{
                        width:100%;
                        outline:none;
                        padding:.8rem;
                        border: 1px solid lightgray;
                    }
                    @media screen and (max-width:768px){
                        flex: 0 0 100%;
                    }
                }
                &.button{
                    a{
                        display: inline-block;
                        text-decoration: none;
                        background-color: #D9A868;
                        color: #fff;
                        padding: 1.2rem 2.8rem;
                        font-size: 1.2rem;
                    }
                }
                &:last-child{
                    margin:0;
                }
            &:nth-of-type(2){
                margin-bottom:3.5rem;
            }
            }
        }
        @media screen and (max-width:1024px){
            flex: 0 0 100%;
        }
    }
    .image-container-reservation{
        flex: 0 0 calc(45% - 1rem);
        height:550px;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
            object-position:bottom;
        @media screen and (max-width:1024px){
            object-position:center;
        }
        }
        @media screen and (max-width:1024px){
            flex:0 0 100%;
        }

    }
    @media screen and (max-width:768px){
        width:95%;
    }
}
//Lunch hours
.lunch-hours{
    background-color:rgb(245, 245, 245);
    padding-top:5.5rem;
    padding-bottom:5.5rem;
    .container-lunch-hours{
        width:90%;
        max-width:1150px;
        margin:0 auto;
        display:flex;
        justify-content:space-between;
        font-size:1.4rem;
        font-weight:600;
        .item-hour{
            display:flex;
            flex-direction:column;
            text-align:center;
            .hour{
                margin-bottom:1rem;
            }
            .frecuently{
                color:gray;
                font-size:1rem;
                font-weight:400;
            }
        }
        @media screen and (max-width:768px){
            flex-direction:column;
            gap:3.5rem;
        }
    }

}


//footer
@import "footer";